@import url('https://fonts.googleapis.com/  css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

body {
    background: #efefef;
}


.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
}

.content .textBox h2 span {
    color: #C2DA10;
    font-size: 1.2em;
    font-weight: 900;
    font-style: italic;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #C2DA10;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    margin-top: 50px;
}
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #737373;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo {
    width: 60px;
    margin-right: 45px;
}

.nav-left .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 18px;
    margin: 0 15px;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.search-box img {
    width: 18px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;

}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #efefef;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content{
    flex-basis: 47%

}
.imp-links a {
   text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;

}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links{
    border-bottom: 1px solid #ccc;
}

label {
  font-size: .9em;
  color: green;
  margin-bottom: 3px;
  display: block;
  font-weight: 300;
}

input, textarea{
  padding: 10px 13px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 1px solid #d4d9e3;
  font-weight: 200;
  color: #4d5060;
  font-family: 'Poppins', sans-serif;
  font-size: .9em;

}
