<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Social</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <header>
        {% if user %}
            <div class="dropdown">
                <button class="dropbtn"> Menu </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('logout') }}"> Logout </a>
                </div>
            </div>
        {% else %}
            <div class="dropdown">
                <button class="dropbtn"> Menu </button>
                <div class="dropdown-content">
                    <li> <a href="{{ url_for('login')}}"> Sign In </a> </li>
                    <li> <a href="{{ url_for('register') }}"> Register </a> </li>
                </div>
            </div>
        {% endif %}
    	<nav>
    		<a href="{{ url_for('index')}}"> Home </a>
    		<a href="{{ url_for('get_questions')}}"> My Questions </a>
    		<a href="{{ url_for('new_question')}}"> Add Question </a>
    	</nav>
        </header>

        <h1> {{user}} Dashboard </h1>

        <h2> Course Questions </h2>

        <nav> <a href="{{url_for('get_questions') }}">  My questions </a> </nav>

        <h3>Questions</h3>


    </body>
</html>