<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Questions">
        <title>View your Questions</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='profile3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
            input[type=button], input[type=submit], input[type=reset] {
              background-color: #C2DA10;
              border: none;
              color: white;
              padding: 16px 32px;
              text-decoration: none;
              margin: 4px 2px;
              cursor: pointer;
            }
        </style>

    </head>
    <body>
        <!-- Navbar -->
    	<header class="nav">
            <a href="{{url_for('landing') }}"> <img src="{{url_for('static', filename='logo.png')}}" class="logo"></a>
    		<ul>
                <li><a href="{{ url_for('landing')}}" style="color: #ffffff;"> Home </a></li>
                <li><a href="{{ url_for('profile')}}" style="color: #ffffff;"> Course Questions </a></li>
                <li><a href="{{ url_for('new_question')}}" style="color: #ffffff;"> Ask </a></li>
                <li><a href="{{ url_for('logout')}}" style="color: #ffffff;"> Logout </a></li>
            </ul>
    	</header>

        <div class="header">
            <br>
            <br>
            <br>
            <h3> {{user}}'s Questions </h3>
        </div>

        <!-- Middle Card -->
        <div class="row">
            <div class="center">
                {% for question in questions %}
                <div class="card">
                    <h2><a href="{{ url_for('get_question', question_id=question.id) }}"> {{question.title}}</a>
                    <a href="{{ url_for('update_question', question_id=question.id)}}"> <img src="{{url_for('static', filename='pen-to-square-regular.svg')}}" style="width: 2%"> </a></h2>
                    <h5> {{question.date}} </h5>
                    <br>
                    <p style="font-size: 20px;">{{question.text}}</p>
                    <br>
                    {% if question.date %}
                        <img src={{question.img_url}} >
                        <br>
                    {% endif %}

                    <form action="{{ url_for('delete_question', question_id=question.id)}}" method="post">
                		<input type="submit" value="Delete">
                	</form>
            </div>
            </div>
        </div>
            {% endfor %}


    </body>
</html>