<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Social App">
        <title>Social - New Question</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>  New Question </h1>
        {% if question %}
        	<form action= "{{ url_for('update_question', question_id=question.id)}}" method="post"></form>
        {% else %}
        	<form action="new" method="post">
        {% endif %}
           <p><label> Title </label></p>
           <p><input type="text" name="title" value="{% if question %}{{question.title}}{% endif %}"/></p>
           <p><label> Question </label></p>
           <p>
           <textarea name="questionText" style="width: 100%;" rows="3" value="">
{% if question %}
{{question.text}}
{% else %}What would you like to know {{user}}?
{% endif %}
            </textarea>
                <span style="font-size: 13px; color: green;"> Image URL </span>
                <textarea name="img_url" style="width: 100%;" rows="2" >
                </textarea>

            	{% if question %}
            		<input type="submit" value="Update Question"/>
            	{% else %}
            		<input type="submit" value= "Ask Question" style="max-width: 100%;"/>
            	{% endif %}
            </p>
            </form>
    </body>
</html>
