<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Social - Profile">
        <title>Social</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='profile3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>

    <body>

        <!-- This is the Navbar -->
        <header class="nav">
                <a href="#"> <img src="{{url_for('static', filename='logo.png')}}" class="logo"> </a>
                <ul>
                    <li><a href="{{ url_for('landing') }}" style="color: #ffffff;"> Home </a></li>
                    <li><a href="{{ url_for('get_questions') }}" style="color: #ffffff;"> My Questions </a></li>
                    <li><a href="{{ url_for('new_question') }}" style="color: #ffffff;"> Ask </a></li>
                    <li><a href="{{ url_for('logout') }}" style="color: #ffffff;"> Logout </a></li>
                </ul>
        </header>

        <br>
        <br>
        <br>

        <!-- Page Title -->
        <div class="header">
            <h2> Course Questions </h2>
        </div>

        <!-- This is the card for our questions -->
        <br>
        
        <div>
            <form class="input_primary" style="text-align: center;" method="GET" action="{{ url_for('get_filtered_questions')}}">
                <input type="text" style="height: 40px; width: 50%; border-radius: 3px;" placeholder="Search For Your Question Here..." name="searched_word" value="{{enteredText}}" />
                <button style="height: 40px; padding:5px 10px; background-color: #C2DA10; border-radius: 3px;" type="Submit">Search</button>
            </form>
            <div class="leftcolumn">
                {% for question in questions %}
                <div class="card">
                    <h2 style="color: #C2DA10"><a href="{{ url_for('get_question', question_id=question.id) }}"> {{question.title}}</a></h2>
                    <h5> {{question.date}} </h5>
                    <br>
                    <p style="font-size: 20px;"> {{question.text}}</p>
                    <br>
                    <img src="{{question.img_url}}">
                    <br>
                      <!-- Like -->
                    {% if hasLiked %}
                        <form action="{{ url_for('like', question_id=question.id) }}" method="post">
                        <input type="submit" value="unlike" name="unlike"/>
                    {% else %}
                        <form action="{{ url_for('like', question_id=question.id) }}" method="post">
                        <input type="submit" value="like" name="like"/>
                    {% endif %}
                    <span> {{question.like | length}} likes </span>
                        </form>


                    <!-- Comments for our Question -->
                        {% if question.comments %}
                            {% if question.comments|length > 0 %}
                        <h3>Comments</h3>
                            <br>
                            <br>
                                {% for comment in question.comments %}
                                    <p>{{comment.date}} &nbsp; &nbsp; &nbsp; <em>{{ comment.content }}</em> </p>
                                {% endfor %}
                            {% endif %}
                        {% endif %}

                    <br>
                    <br>

                    <!-- Question Form -->
                    <form action="{{ url_for('new_comment', question_id=question.id) }}" method="post">

                             <div class="form-field">
                                {{ form.comment.label }} <br/> {{ form.comment }}
                            </div>
                                {{ form.submit }}

                    </form>
                </div>
                {% endfor %}
            </div>

            <!-- Right Column -->
            <div class="rightcolumn">

                <!-- Instructor Messages -->
                <div class="card">
                    <h2 style="color: #C2DA10"> Course Introduction </h2>
                    <br>
                        <p> Welcome to 3155! I hope that you are enjoying yourselves. <br>
                            Please use this site to keep in touch with each other and to help each other out <br><br>
                            Best of luck! <br> <br>
                            - <em> Professor Eight-Eight </em>
                        </p>
                </div>

                 <div class="card">
                    <h2 style="color: #C2DA10"> Next Week's Update </h2>
                    <br>
                        <p> Hello everyone! <br>
                        I have moved our upcoming exam forward one week <br><br>
                        Sorry losers :P  <br> <br>
                        - <em> Professor Eight-Eight </em>
                        </p>
                </div>

            </div>
        </div>

    </body>
</html>
