<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Social - View your Question</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
    	<header>
                <a href="#"> <img src="{{url_for('static', filename='logo.png')}}" class="logo"> </a>
                <ul>
                    <li><a href="{{ url_for('landing') }}"> Home </a></li>
                    <li><a href="{{ url_for('profile') }}"> Profile </a></li>
                    <li><a href="{{ url_for('logout') }}"> Logout </a></li>
                </ul>
        </header>
    	<h1> {{user}}'s questions </h1>
        <h3>Question details</h3>


        <table>

                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>

            <tr>
                <td>{{ question.title }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.date }}</td>


            </tr>

            </tr>
        </table>
        {%if hasLiked%}
             <form action="{{ url_for('like', question_id=question.id) }}" method="post">
             <input type="submit" value="unlike" name="unlike"/>
        {%else%}
             <form action="{{ url_for('like', question_id=question.id) }}" method="post">
             <input type="submit" value="like" name="like"/>
        {%endif%}
        <span >{{question.like.count()}} likes</span>

        </form>

     {% if question.comments %}
            {% if question.comments|length > 0 %}
                <h2>Comments</h2>
                <ul>
                {% for comment in question.comments %}
                    <tr>
                        <td>{{ question.date }}</td>

                    </tr>
                    <li>{{ comment.content }}</li>
                {% endfor %}
                </ul>
                {% endif %}
        {% endif %}


        <form action="{{ url_for('new_comment', question_id=question.id) }}" method="post">
            <div class="formwrapper">
                <h2 class="title">Add a comment</h2>
                    <div class="form-field">
                        {{ form.comment.label }} <br/> {{ form.comment }}
                    </div>
                    {{ form.submit }}
             </div>
        </form>
    <form action="{{ url_for('upload', question_id=question.id) }}" method="post">
        <input type="file" name="pic"/>
        <input type="submit" value="Upload a file"/>
    </form>


    </body>
</html>
