<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>
    <body>
        <header>
            <img src='noun_Question_3368687.svg'>
            <div class="dropdown">
                <button class="dropbtn"> Menu </button>
                <div class="dropdown-content">

                    <li><a href="{{ url_for('index') }}"> Home</a></li>
                    <li><a href="{{ url_for('login') }}"> Login </a></li>

                </div>
            </div>
        </header>
        <h1>Welcome {% if user %}{{user}}{% endif %}to Social!</h1>

        <h2> A place where you can ask questions of your professors and classmates.</h2>
        <div class="formwrapper">
            <h2 class="title">Register</h2>
            <form method="POST" action="/register">
                <div class="form-field">{{ form.firstname.label }} {{ form.firstname }}
                    {% if form.firstname.errors %}
                    <ul class="errors">
                        {% for error in form.firstname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.lastname.label }} {{ form.lastname }}
                    {% if form.lastname.errors %}
                    <ul class="errors">
                        {% for error in form.lastname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
                    {% if form.confirmPassword.errors %}
                    <ul class="errors">
                        {% for error in form.confirmPassword.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>

        </div>
    </body>
</html>